{% import "trees/common.j2" as common with context %}
{% import "trees/rhel-nightly.j2" as nightly %}
{% set distroRequires %}
  <distro_family op="=" value="RedHatEnterpriseLinux7"/>
  <distro_variant op="=" value="Server"/>
  {% if VARIABLES.ystream_distro %}
    <distro_name op="=" value="{{ VARIABLES.ystream_distro }}"/>
  {% else %}
    <distro_tag op="=" value="RTT_PASSED"/>
  {% endif %}
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=false) }}
{% endset %}
{{- common.job(distroRequires=distroRequires, ks_append=ks_append,
               kcov_rhel_xy="79") -}}
