{% include "host_types/normal.host_requires.xml.j2" %}
{% if ARCH == "x86_64" %}
<or>
  <hostname op="=" value="dell-per640-05.dell2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="smicro-ss1018-01.lab2.eng.bos.redhat.com"/>
  <hostname op="=" value="smicro-ss1018-02.lab2.eng.bos.redhat.com"/>
  <hostname op="=" value="gatto-1.tpb.lab.eng.brq.redhat.com"/>
</or>
{% endif %}
